<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Home</title>
		
		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
		<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="css/styleHome.css">
		<link href="lib/toaster.css" rel="stylesheet">
		
		<script src="http://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
						
		<!-- ionic/angularjs js -->
		<script src="lib/angular/angular.min.js"></script>
		<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
		<script src="lib/angular-animate/angular-animate.js"></script>
		<script src="lib/angular-sanitize/angular-sanitize.min.js"></script>
		<script src="lib/angular-spinner/angular-spinner.js"></script>
		<script src="lib/toaster.min.js"></script>
		<script src="lib/angular-ui-mask/dist/mask.js"></script>
		<script src="lib/bs-table.js"></script>

		<!-- your app's js -->
		<script src="js/app.js"></script>
		<script src="js/linq.js"></script>

	</head>

	<body ng-app="myApp" ng-controller="transferenciaCtrl as transferencia">
		<div id="mySpinner" class="spinner-design" ng-show="false">
			<img class="loading-design" src="/img/loading-sistema.gif" />
		</div>
		<toaster-container toaster-options="{'time-out': 2000, 'close-button':true, 'animation-class': 'toast-bottom-right'}"></toaster-container>
	
		<div class="content-header">
			<nav>
				<div class="nav-wrapper">
					<!-- <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a> -->
					<a href="#" class="brand-logo">Banco Nix</a>
				  
					<ul id="nav-mobile" class="right hide-on-med-and-down">
						<li class="border-right"><h4 class="white-text">Bem Vindo {{usuarioLogado.usuarioNome}}</h4></li>
						<li class="border-right"><a class="default-color modal-trigger pointer" href="#modalSobre"><h4 class="white-text">Sobre</h4></a></li>
						<li><a class="pointer"><i title="Deslogar" ng-click="logout()" class="material-icons">power_settings_new</i></a></li>
					</ul>
				</div>
			</nav>			
		</div>
		
		<div class="container p-t-20">
			<!-- Page Content goes here -->
			
			<div class="row">
				<div class="col s12 m12">
				  <div class="card white darken-1">
					<div class="card-content black-text slim">
						<span class="card-title">
							Filtros
						</span>
						<div class="row">
							<div class="col s3">
							  <label for="filtroPagador">Pagador</label>
							  <input id="filtroPagador" ng-model="filtro.pagadorNome" placeholder="Pagador Nome" minlength="1" maxlength="128" type="text" class="validate">
							</div>
							<div class="col s3">
							  <label for="filtroBeneficiario">Beneficiario</label>
							  <input id="filtroBeneficiario" ng-model="filtro.beneficiarioNome" placeholder="Beneficiario Nome" minlength="1" maxlength="128" type="text" class="validate">
						    </div>
							<div class="col s3">
							  <label for="filtroData">Data</label>
							  <input type="text" id="filtroData" data-ng-model="filtro.data" ui-mask="99/99/9999" placeholder="__/__/____"></input>
						    </div>
							<div class="col s3">
								<a class="waves-effect waves-light default-color btn right" ng-click="aplicarFiltro()">Aplicar Filtro</a>
							</div>
						</div>
					</div>
				  </div>
				  <div class="card white darken-1">
					<div class="card-content black-text">
						<span class="card-title">
							Lista de Transferências
							<a class="waves-effect waves-light default-color btn modal-trigger right" href="#modal1" ng-click="novaTransferencia()">Nova Transferência</a>
						</span>
						<table class="bordered highlight">
							<thead>
							  <tr>
								  <th> </th>
								  <th>Id</th>
								  <th>Pagador</th>
								  <th>Beneficiario</th>
								  <th>Valor</th>
								  <th>Status</th>
								  <th>Data</th>
							  </tr>
							</thead>
							
							<tr ng-repeat="transferencia in listaTransferenciasShow track by transferencia.id" ng-click="editarTransferencia(transferencia)">
								<td><a class="pointer"><i  href="#modalDeletar" title="Deletar" ng-click="deletarTransferencia(transferencia.id)" class="material-icons modal-trigger">delete</a></li></td>
								<td class="modal-trigger pointer" href="#modal1" >{{transferencia.id}}</td>
								<td class="modal-trigger pointer" href="#modal1" >{{transferencia.pagadorNome}}</td>
								<td class="modal-trigger pointer" href="#modal1" >{{transferencia.beneficiarioNome}}</td>
								<td class="modal-trigger pointer" href="#modal1" >{{transferencia.valor}}</td>
								<td class="modal-trigger pointer" href="#modal1" >{{transferencia.status}}</td>
								<td class="modal-trigger pointer" href="#modal1" >{{transferencia.data | date:'dd-MM-yyyy HH:mm:ss'}}</td>
							</tr>
						</table>
						
							
						<div class="modal-footer text-right">
							<a class="bold black-text text-left">Valor Total Transferências: R$ {{valorTotalTransferencias()}}</a>
							<a class="bold black-text">Registros {{paginacao.registroInicial}} à {{paginacao.registroFinal}} de {{paginacao.registrosTotais}}</a>
							<a ng-click="anteriorPagina()" ng-class="{'disabled': validaAnteriorPagina()}" title="Página Anterior" class="waves-effect waves-grey btn-flat pointer green white-text"><<</a>
							<a ng-click="proximaPagina()" ng-class="{'disabled': validaProximaPagina()}" title="Próxima Página" class="waves-effect waves-grey btn-flat pointer green white-text">>></a>							
						</div>
					</div>
				  </div>
				</div>
			</div>
		</div>
		
		<div id="modal1" class="modal">
			<div class="modal-content">
				<h4>Transferência {{objetoTela.idTransferencia}}</h4>
				
				<div class="row">
					<form class="col s6">
						<h5>Pagador</h5>
						<div class="row">
							<div class="input-field col s12">
							  <input id="first_name" ng-model="objetoTela.pagadorNome" placeholder="Pagador Nome" minlength="1" maxlength="128" type="text" class="validate" required>
							  <label for="first_name">Nome</label>
							</div>
							
							<div class="input-field col s12">
							  <input id="last_name" ng-model="objetoTela.pagadorBanco" placeholder="Pagador Banco" minlength="3" maxlength="3" ng-blur=(validaTipo()) type="text" class="validate" required>
							  <label for="last_name">Banco</label>
							</div>
							
							<div class="input-field col s12">
							  <input id="last_name" ng-model="objetoTela.pagadorAgencia" placeholder="Pagador Agencia" minlength="4" maxlength="4" type="text" class="validate" required>
							  <label for="last_name">Agência</label>
							</div>
							
							<div class="input-field col s12">
							  <input id="last_name" ng-model="objetoTela.pagadorConta" placeholder="Pagador Conta" minlength="6" maxlength="6" type="text" class="validate" required>
							  <label for="last_name">Conta</label>
							</div>
						</div>
					</form>
					<form class="col s6">
						<h5>Beneficiário</h5>
						<div class="row">
							<div class="input-field col s12">
							  <input id="first_name" ng-model="objetoTela.beneficiarioNome" placeholder="Beneficiario Nome" minlength="1" maxlength="128" type="text" class="validate" required>
							  <label for="first_name">Nome</label>
							</div>
							
							<div class="input-field col s12">
							  <input id="last_name" ng-model="objetoTela.beneficiarioBanco" placeholder="Beneficiario Banco" minlength="3" maxlength="3" ng-blur=(validaTipo()) type="text" class="validate" required>
							  <label for="last_name">Banco</label>
							</div>
							
							<div class="input-field col s12">
							  <input id="last_name" ng-model="objetoTela.beneficiarioAgencia" placeholder="Beneficiario Agencia" minlength="4" maxlength="4" type="text" class="validate" required>
							  <label for="last_name">Agência</label>
							</div>
							
							<div class="input-field col s12">
							  <input id="last_name" ng-model="objetoTela.beneficiarioConta" placeholder="Beneficiario Conta" minlength="6" maxlength="6" type="text" class="validate" required>
							  <label for="last_name">Conta</label>
							</div>
						</div>
					</form>
				</div>
				
				<div class="row">				
					<form class="col s12">
						<div class="row">
							<div class="input-field col s4">
							  <input id="first_name" ng-model="objetoTela.valor" value="{{objetoTela.valor | currency:'R$'}}" ng-blur="validaValor()" placeholder="R$" step="0.01" min="0" max="999999999999999" type="number" class="validate" required>
							  <label for="first_name">Valor</label>
							</div>
							<div class="input-field col s4">
							  <input id="first_name" ng-model="objetoTela.tipo" ng-disabled="true" placeholder="DOC" type="text" class="validate" required>
							  <label for="first_name">Tipo</label>
							</div>
							<div class="input-field col s4">
							  <input id="first_name" ng-model="objetoTela.status" ng-disabled="true" placeholder="OK" type="text" class="validate" required>
							  <label for="first_name">Status</label>
							</div>
						</div>
					</form>
				</div>
			</div>
			
			<div class="modal-footer">
				<a ng-click="salvarTransferencia()" ng-class="{'disabled': validaSalvar()}" class="modal-action modal-close waves-effect waves-grey btn-flat pointer green white-text">Salvar</a>
				<a class="modal-action modal-close waves-effect waves-grey btn-flat pointer red white-text">Fechar</a>
			</div>
		</div>
			
		<div id="modalDeletar" class="modal modalDeletar">
			<div class="modal-content">
				<span class="card-title"><h4>Confirma Deleção</h4></span>
				<div class="modal-footer text-right">
					<a ng-click="salvarTransferencia()" ng-class="{'disabled': validaSalvar()}" class="modal-action modal-close waves-effect waves-grey btn-flat pointer green white-text">Deletar</a>
					<a class="modal-action modal-close waves-effect waves-grey btn-flat pointer red white-text">Cancelar</a>
				</div>
			</div>
		</div>
		
		<div id="modalSobre" class="modal modalSobre">
			<div class="modal-content">
				<span class="card-title"><h4>Sistema Banco Nix</h4></span>
				
				<div class="modal-body"> 
					<span>Bem vindo ao sistema do Banco Nix. Aqui você terá acesso a todas as suas Transferências dentro do banco.
						<br/>
						Todas as Transferência listadas são apenas de seu usuário. Caso deseje acessar as trasferências de outro usuário, por favor faça login com o mesmo.
						<br/>
						<br/>
						O botão de Nova Transferência irá te abrir uma tela para inserir todos os dados do Pagador, Beneficiario e o Valor da transferência que deseja realizar.
						<br/>
						<br/>
						Para editar algum item, clique sobre o registro desejado na tabela Lista de Transferências para abrir a tela de edição. Será a mesma tela de Nova Transferência, porém com o registro selecionado.
						<br/>
						<br/>
						Quando aberta a tela de Novo/Editar Transferência, basta preencher todos os campos e clicar em Salvar para salvar seu registro. Para não o salvar basta clicar em Cancelar ou clicar fora da tela.
						<br/>
						<br/>
						A esquerda de cada item consta um ícone de uma Lixeira: É onde poderá deletar seu registro. Clique no mesmo para aparecer uma tela de confirmação de deleção. Clique em Deletar caso queira realmente o deletar.
						<br/>
						<br/>
						Abaixo da tabela Nova Transferência há uma linha que mostrará o número de registros que constam para seu usuário e quais estão o sendo exibido. A direita desta linha há dois botões para alterar a página em que se encontra.
						<br/>
						<br/>
						Faça bom uso do sistema. Obrigado.
					</span>
				</div>
				
				<div class="modal-footer text-right">
					<a class="modal-action modal-close waves-effect waves-grey btn-flat pointer red white-text">Fechar</a>
				</div>
			</div>
		</div>
	</body>
	
	<script type="text/javascript">
	
		// Initialize collapse button
		//$(".button-collapse").sideNav();
		// Initialize collapsible (uncomment the line below if you use the dropdown variation)
		//$('.collapsible').collapsible();
	  
		$(document).ready(function(){
			// the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
			$('.modal').modal();
			$('.modalDeletar').modal();
			$('.modalSobre').modal();
		});
	  
	</script>

</html>